h1{
    text-align: center;
}

form{
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: 0 auto;
}

form label, form input{
    width: 100%;
    display: inline-block;
}

form>button:first-of-type{
    margin-top: 2vh;
}

